#map {
  min-height: 500px;
  border: 1px gray solid;
}

#center {
  background: #232227;
  margin: 0px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-row {

  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 500px !important;

}

th {
  background-color: #3b4044 !important;
}

.btn {
  border-radius: 0 !important;
}

.input-group-text {
  border-radius: 0 !important;
}

.form-control {
  border-radius: 0 !important;
}

#top-ten {
  overflow: auto;
  max-height: 500px !important;

}

.header-row {

    text-align: center;   

}